* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/BebasNeueBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
body{
  font-family: 'Noto Sans', sans-serif;
}
header{
  padding-top: 94px;
  min-height: 100vh;
}
.container{
  max-width: 1440px;
  margin: auto;
  position: relative;
}
.header-image{
  background-image: url('../img/header-bg.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom -40px;
  position: relative;
}
.header-image::before{
  content:"";
  position: absolute;
  background: rgba(41, 45, 51, 0.75);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.navbar{
  display: flex;
  align-items: center;
  color: #fff;
  height: 94px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light{
  background-color: #fff;
  color: #292D33;
  height: 74px;
}
.navbar-light .header-logo-path{
fill:#292D33; ;
}
.logo{
  display: flex;
  align-items:center;
  padding: 0px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav{
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}
.header-link{
text-decoration: none;
font-size: 16px;
margin-right: 50.5px;
color: inherit;
}
.header-phone{
  flex-shrink: 0;
  display: flex;
  align-items:center;
  gap: 10px;
  margin-right: 51px;
}
.phone{
margin-right: 3px;
}
.header-phone-link{
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}
.button{
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 60px;
  gap: 10px;
  background: #5C8EE6;
  border: none;
  flex-shrink: 0;
  cursor: pointer;
}
.header-button{
  height: 100%;
  padding: 25px 33px 25px 49px;
}
.seporator{
  background: #5C8EE6;
  width: 150px;
height: 2px;
}
.header-content{
  padding-top: 150px;
  padding-left: 9px;
  z-index: 1;
  color: #fff;
}
.header-title{
  font-family: 'Bebas Neue Book';
  max-width: 1080px;
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  margin: 21px 0 40px 0;
  letter-spacing: 0.7px;
  word-spacing: -0.8px;
}
.header-text{
  max-width: 720px;
  font-size: 16px;
line-height: 160%;
font-weight: 400;
margin-bottom: 50px;
}
.header-feauters{
  display: flex;
  min-height: 161px;
  padding: 0;
  margin-top: 101px;
  list-style: none;
  position: relative;
  color: #fff;
  margin-left: 9px;
}
.logo-svg{
  margin-top: -5px;
}
.header-feauters-item{
  padding: 38px 60px 12px 48px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-feauters-item:not(:last-child){
  border-right: none;
}
.header-feauters-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-top: 20px;
}
.section{
  margin-bottom: 150px;
  margin-top: 150px;
}
.section-title{
  font-family: 'Bebas Neue Book';
  font-size: 60px;
line-height: 120%;
color: #292D33;
}
.steps{
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}
.steps-item{
  min-width: 330px;
}
.steps-num{
  font-family: 'Bebas Neue Book';
  font-size: 48px;
  line-height: 120%;
  color: #5C8EE6;
  display: flex;
  align-items: center;
  
}
.steps-num::after{
  content:"" ;
  height: 1px;
  background: #EBEBF0;
  width: 100%;
  margin-left: 30px;
}
.steps-title{
margin-top: 30px;
margin-bottom: 10px;
  font-size: 28px;
line-height: 160%;
color: #292D33;
}
.steps-text{
  font-size: 16px;
line-height: 160%;
color: #828A99;
margin-top: 10px;
margin-bottom: 20px;
}
.steps-link{
display: flex;
align-items: center;
text-decoration: none;
font-weight: 600;
font-size: 16px;
line-height: 160%;
color: #5C8EE6;
}
.steps-link::before{
content: "";
height: 1px;
background: #5C8EE6;
width: 40px;
margin-right: 20px;
}